.checkbox{
    margin: 20px auto;
    padding: 0;
    width: 940px;
    border: solid #ccc 1px;
}
.checkbox tbody{
    margin: 0;
    padding: 0;
    width: 940px;
    border: solid #ccc 1px;
}
.checkbox tr{
    border: solid #ccc 1px;
}
.checkbox tr td{
    border: solid #ccc 1px;
    padding: 1px;
}
.checkbox tr td:nth-child(Odd){
    border: solid #ccc 1px;
    padding: 1px;
    text-align: center;
}
.deal::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.deal::-webkit-outer-spin-button {
    -webkit-appearance: none;
}




.route_preview_container {
    border-top: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;
    min-height: 100px;
    margin-bottom: 10px;
}
.route_preview_container table thead th{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bolder;
    border-bottom: solid 1px #d5d5d5;
    text-align: center;
    padding: 4px 6px;
}
.route_preview_container table tbody tr{
    height: 35px;
}
.route_preview_container table tbody td{
    text-align: center;
    min-height: 35px;
    border-bottom:solid 1px #ccc;
}
.route_preview_container .pre_bgcolor{
    background-color: #eee;
    border-left: solid 1px #fff;
}
.route_preview_container .pre_bgcolor.imgs{
    color: #20a0ff;
}
.route_preview_container .pre_bgcolor.desc{
    max-width: 100px;
    padding:5px;
}
.route_preview_container .route_preview_material.ma_in{
    /*border:solid 1px #ddd;*/
    min-height: 40px;
    margin:5px;
    display: flex;
    background-color: #22ac38;
}
.route_preview_container .route_preview_material.ma_out{
    /*border:solid 1px #ddd;*/
    min-height: 40px;
    margin:5px;
    display: flex;
    background-color: #eb6877;
}
.route_preview_container td.pre_material{
    width: 400px;
}
.pre_material .no_material{
    font-size: 16px;
    color: #d5d5d5;
    font-weight: bold;
}
.route_preview_material .pre_code{
    width:100px;
    align-self: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    word-break:break-all;
    word-wrap:break-word
}
.route_preview_material .pre_attr{
    flex:1;
    background-color: rgba(255, 255, 255, 0.8);
}
.route_preview_material .pre_unit{
    width: 50px;
    align-self: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.pre_attr table{
    background-color: #fff;
}
.pre_attr table tbody tr{
    height: 19px;
}
.pre_attr table tbody td{
    border:solid 1px #fff;
}
.income-tbody .pre_attr table td{
    height: 19px;
}
.route_preview_material.ma_in .pre_attr table td,.income-tbody .pre_attr table td{
    background-color: #85da93;
}
.route_preview_material.ma_out .pre_attr table td{
    background-color: #faa5ae;
}
.route_preview_container .draw_content{
    padding: 10px;
}
.draw_content .preview_draw_wrap{
    float: left;
    color: #20a0ff;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 15px;
}
.draw_content .preview_draw_wrap p{
    margin:0;
}
.draw_content .preview_draw_wrap.active{
    /*border:solid 1px #20a0ff;*/
    box-shadow: 0 0 8px #999;
    transition: 0.3s;
}
.no_data_center{
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
    color: #999;
}
.route_preview_container .img_expand_pre{
    border-bottom:solid 1px #d5d5d5;
    padding:10px;
    display: none;
}
.route_preview_container .img_expand_pre.active{
    display: block;
}

.show-attr{
  cursor: pointer;
}

.el-muli-select .el-input{
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/**************************************  添加 start 7/24 ********************************* */
    /* .wrap_table_div{
        height: 650px;
        overflow-x: hidden;
        margin-bottom: 20px;
    } */

/**************************************  添加 end  ********************************* */