.index_wrap{
    display: flex;
    flex-direction: column;
    /*border:solid 1px #000;*/
    min-height: 500px;
}
.index_wrap .index_history{
    flex:1;
    /*border:solid 1px #f00;*/
    background-color: #f2f3f7;
    text-align: center;
}
.index_wrap .index_flow{
    flex:4;
    /*border:solid 1px #f00;*/
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
}

.page-content{
   padding:0;
}
@media screen and (min-width: 1400px){
    .index_flow img{
        width:950px;
    }
}
@media screen and (max-width: 1400px){
    .index_flow img{
        width:700px;
        margin-top:20px;
    }
}