body{
	width: 100%;
	padding: 0;
	margin: 0;
}
.login-con{
	width: 100%;
}
.login-head{
	width: 100%;
    height: 260px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*background: url(/statics/custom/img/beijing.jpg) no-repeat;*/
    background: url(/statics/custom/img/bgpic.png) no-repeat;
    -webkit-background-size: 100% 260px;
            background-size: 100% 260px;
    position: relative;
    z-index: 1;
}
.login-head .title{
	width: 700px;
	height: 65px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 36px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -32px -350px;
}
p.login-title.margin{
	margin: 0 30px 0 10px;
}
p.login-title:last-child{
	font-size: 42px;
}
.login-head .title sup{
	font-size: 24px;
}
.login-form {
    width: 500px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: gainsboro;
    -webkit-box-shadow: 0 3px 5px gainsboro;
    box-shadow: 0 3px 5px gainsboro;
    background-color: white;
    margin: -69px auto;
    position: relative;
    z-index: 999;
}
.login-form-header{
	border-bottom: solid 1px gainsboro;
    height: 50px;
    line-height: 50px;
}
.login-form-footer{
	height: 50px;
    line-height: 50px;
}
.login-form-header p{
	text-align: left;
    color: #58b5ee;
    font-size: 18px;
    margin-left: 50px;
}
.login-form-center{
	border-bottom: solid 1px gainsboro;
}
.login-form-center .center-wrap{
	width: 360px;
	margin: 10px auto 10px;
	color: #555;
}
.login-form-footer a{
	color: #58b5ee;
	font-size: 13px;
}
.record_number{
	font-size: 12px;
    color: #555555;
    text-align: center;
    padding-top: 80px;
}
.form-item{
	font-size: 16px;
	width: 100%;
}
.form-item label{
	width: 60px;
}
.form-item:not(.checkbox) input{
	width: 290px;
    height: 32px;
    border: solid 1px gainsboro;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.form-item input::-webkit-input-placeholder{
	color: #ccc;
}
.form-item.checkbox label{
	font-size: 12px;
	color: #555;
	vertical-align: top;
}
.form-item .btn-login{
	display: block;
    width: 100%;
    height: 35px;
    background-color: #00a0e9;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    -webkit-box-shadow: 0 0 5px #00a0e9;
    box-shadow: 0 0 5px #00a0e9;
    margin-top: 10px;
    cursor: pointer;
}
.verif-code-img{
	width: 90px;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
}
.form-item.verif-code input{
	width: 184px;
}
.form-item-wrap .error,.otherError{
	font-size: 12px;
	color: red;
	padding: 3px 0 3px 70px;
	margin: 0;
	line-height: 16px;
	min-height: 16px;
}
.otherError{
	display: none;
}
.el-checkbox_input {
    cursor: pointer;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-right: 10px;
}
.el-checkbox_input .el-checkbox-outset {
    display: inline-block;
    position: relative;
    border: 1px solid #bfcbd9;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    -o-transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.el-checkbox_input.is-checked .el-checkbox-outset {
    background-color: #20a0ff;
    border-color: #0190fe;
}
.el-checkbox_input.is-checked .el-checkbox-outset:after {
    -webkit-transform: rotate(45deg) scaleY(1);
    -ms-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
}
.el-checkbox_input .el-checkbox-outset:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    -webkit-transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transition: -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    -o-transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s, -webkit-transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
.remember_wrap{
    position: relative;
    left:70px;
}
.remember_wrap label{
    font-size: 14px;
    position: relative;
    top: -4px;
    color: #999;
}